body {
	margin: 0;
	padding: 0;
	backgrouund:url('images/background.jpg');
	font-family: 'Arvo', serif;
	font-size: 14px;
	color: #CFCFCF;
}
h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	font-family: 'Abel', sans-serif;
	font-weight: 400;
	color: #42859F;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #9C9A9A;
}

a:hover {
	text-decoration: underline;
}

img.border {
	border: 6px solid #EEE7DF;
}

img.alignleft {
	float: left;
	margin-right: 25px;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

#wrapper {
	margin: 0 auto;
	padding: 0;
}

/* Header */

#header-wrapper {
	position: relative;
	z-index: 2;
	overflow: hidden;
	/**height: 750px;*/
	width:900px;
	margin:0 auto;
	background-color: #FFFFFF;
	padding:  0 30px;

}
.bg { background: url("../images/background.jpg"); width: 100%; position: absolute;z-index: 1;
background-repeat: repeat-y;
background-position: center 0; 
background-attachment:fixed; 
background-size: cover; 
-webkit-background-size: cover;
-o-background-size: cover;
zoom: 1; 
 }

#header {
	width: 960px;
	height: 240px;
	margin: 0 auto;
}

/* Logo */

#logo {
	width: 980px;
	height: 100px;
	margin: 0px auto;
	padding: 80px 0px 0px 0px;
	color: #9E7682;
}

#logo h1, #logo p {
	display: block;
	margin: 0px;
	padding: 0px;
}

#logo h1 {
	letter-spacing: -5px;
	text-align: center;
	font-size: 80px;
	color: #FFCB2A;
}

#logo h1 a {
	color: #4D4861;
}

#logo p {
	margin-top: -20px;
	text-align: center;
	font-family: 'Abel', sans-serif;
	font-size: 25px;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #4D4861;
}

/* Search */

#search {
	float: right;
	width: 280px;
	height: 100px;
	padding: 0;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 60px 0 0 30px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 195px;
	padding: 6px 10px;
	border: none;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px;
	color: #7F7F81;
}

#search-submit {
	display: none;
}

/* Menu */

#menu-wrapper {
	width: 900px;
	height: 60px;
	margin: 0px auto 30px auto;
	padding: 0px;
	background: #42859F;
	color: #000000;
}

#menu {
	margin: 0;
	padding: 0px 20px;
	list-style: none;
	line-height: 60px;
	letter-spacing: -1px;
	text-decoration: none;
	text-shadow: 2px 2px 2px rgba(0,0,0,.5);
	font-family: 'Abel', sans-serif;
	font-size: 24px;
	font-weight: normal;
	color: #FFFFFF;
}

#menu li {
	float: left;
	margin-right: 1px;
}

#menu a {
	display: block;
	float: left;
	height: 60px;
	margin: 0px;
	color: #FFFFFF;
}

#menu .current_page_item a {
	text-shadow: 2px 2px 2px rgba(0,0,0,.3);
	background: #174F65;
}

#menu a:hover {
	background: #174F65;
	text-decoration: none;
	text-shadow: 2px 2px 2px rgba(0,0,0,.3);
	color: #FFFFFF;
}

#menu span {
	padding: 0px 20px;
}

#menu > li {
}

#menu > li.active {
	background: #174F65;
	padding: 0px 5px;
	color: #FFFFFF;
}

.dropotron li.opener {
	border-right: solid 2px #FFFFFF;
}

.dropotron {
	margin: 0px;
	padding: 10px 0px;
	background: #42859F;
	list-style: none;
	font-family: 'Abel', sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #FFFFFF;
}

.dropotron a {
	color: #fff;
	text-decoration: none;
}

.dropotron li {
	margin: 0px;
	padding: 5px 20px;
	
	
}

.dropotron li:hover, .dropotron li.active {
	background: #174F65;
}

.form-wrapper {
    width: 650px;
    padding: 8px;
    margin: 100px auto;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
    border-color: #dedede #bababa #aaa #bababa;
    box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
    border-radius: 10px;    
    background-color: #f6f6f6;
    background-image: linear-gradient(top, #f6f6f6, #eae8e8);
}

.form-wrapper #search {
    width: 330px;
    height: 20px;
    padding: 10px 5px;
    float: left;    
    font: bold 16px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
    border-radius: 3px;      
}

.form-wrapper #search:focus {
    outline: 0; 
    border-color: #aaa;
    box-shadow: 0 1px 1px #bbb inset;  
}

.form-wrapper #search::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
}

.form-wrapper #search:-moz-placeholder {
    color: #999;
    font-weight: normal;
}

.form-wrapper #search:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
} 

.form-wrapper #submit {
    float: right;    
    border: 1px solid #00748f;
    height: 42px;
    width: 100px;
    padding: 0;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;
    color: #fafafa;
    text-transform: uppercase;    
    background-color: #0483a0;
    background-image: linear-gradient(top, #31b2c3, #0483a0);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;      
    text-shadow: 0 1px 0 rgba(0, 0 ,0, .3);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #fff;
}
  
.form-wrapper #submit:hover,
.form-wrapper #submit:focus {       
    background-color: #31b2c3;
    background-image: linear-gradient(top, #0483a0, #31b2c3);
}   
  
.form-wrapper #submit:active {
    outline: 0;    
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;    
}
  
.form-wrapper #submit::-moz-focus-inner {
    border: 0;
}

/* Page */

#page {
	
	width: 650px;
    padding: 8px;
    margin: 100px auto;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
    border-color: #dedede #bababa #aaa #bababa;
    box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
    border-radius: 10px;    
    background-color: #f6f6f6;
    background-image: linear-gradient(top, #f6f6f6, #eae8e8);
}

/* Content */
#content {
	float: right;
	width: 650px;
}

#content .contentbg {
	width: 590px;
	padding: 10px 30px 0px 30px;
}

.post {
	clear: both;
	padding-bottom: 10px;
	border-bottom: 1px solid #000000;
}

.post .title {
	padding-top: 10px;
	letter-spacing: -4px;
	font-size: 50px;
	color: #42859F;
}

.post .title a {
	border: none;
	color: #42859F;
}

.post .meta {
	color: #42859F;
	padding-bottom: 10px;
	text-align: left;
	font-size: 11px;
	font-style: italic;
}

.post .meta a {
}

.post .entry {
	color: #614344;
	text-align: justify;
	margin-bottom: 25px;
	padding: 10px 0px 0px 0px;
}

.links {
	display: block;
	width: 96px;
	padding: 2px 0px 2px 0px;
	background: #A53602;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	color: #FFFFFF;
}

/* Sidebar */

#sidebar-bg {
	float: left;
	width: 330px;
}

#sidebar {
	overflow: hidden;
	width: 270px;
	padding: 30px 30px 20px 30px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 30px;
}

#sidebar li li {
	line-height: 35px;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2 {
	height: 38px;
	margin-bottom: 20px;
	padding: 12px 0 0 0px;
	border-bottom: 1px solid #000000;
	letter-spacing: -2px;
	font-size: 30px;
	color: #42859F;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 20px 20px 20px;
	text-align: justify;
}

#sidebar a {
	border: none;
}

#sidebar a:hover {
	text-decoration: underline;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer {
	height: 100px;
}

#footer p {
	margin: 0;
	padding-top: 18px;
	line-height: normal;
	text-align: center;
	font-family: 'Abel', sans-serif;
	font-size: 16px;
	color: #614344;
}

#footer a {
	text-decoration: underline;
}

#slider {
	position: relative;
	width: 590px;
	margin: 0px auto 20px auto;
}

#slider .viewer {
	width: 590px;
	height: 300px;
	overflow: hidden;
	margin: 0 auto;
}

#slider .viewer .reel {
	display: none;
	height: 300px;
}

#slider .viewer .reel .slide {
	position: relative;
	width: 590px;
	height: 300px;
}

#splash {
	width: 980px;
	margin: 30px auto 30px auto;
}

#slider {
	position: relative;
	margin: 0px auto;
	/**width: 1000px;*/
	width:900px;
	height: 350px;
}

#slider .button {
	display: inline-block;
	color: #ffffff;
	text-align: center;
	line-height: 50px;
	height: 50px;
	text-decoration: none;
	outline: 0;
	border-radius: 8px;
	font-size: 3em;
}

#slider .button:hover {
}

#slider .viewer {
	width: 900px;
	height: 350px;
	margin: 0px auto;
	overflow: hidden;
}

#slider .viewer .reel {
	display: none;
	height: 375px;
}

#slider .viewer .reel .slide {
	position: relative;
	width: 900px;
	height: 375px;
	margin: 0px auto;
}

#slider .viewer .reel h2 {
	position: absolute;
	top: 180px;
	left: 0;
	width: 900px;
	height: 80px;
	line-height: 80px;
	background: #111111;
	text-align: center;
	opacity: 0.85;
	font-weight: normal;
	color: #ffffff;
	font-size: 2.25em;
}

#slider .viewer .reel p {
	position: absolute;
	top: 260px;
	left: 0;
	width: 900px;
	height: 40px;
	line-height: 40px;
	background: #0074C6;
	text-align: center;
	opacity: 0.85;
	font-weight: normal;
	color: #ffffff;
	font-size: 1.1em;
}

#slider .previous-button {
	position: absolute;
	top: 180px;
	left: 0;
	width: 50px;
}

#slider .next-button {
	position: absolute;
	top: 180px;
	right: 0;
	width: 50px;
}

#slider .indicator {
	margin: 30px auto 0 auto;
}

#slider .indicator ul {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

#slider .indicator ul li {
	display: inline-block;
	width: 12px;
	height: 12px;
	text-indent: -9999em;
	background: #c8c8c8;
	margin: 0 2px 0 2px;
	border-radius: 8px;
	border-bottom: solid 1px #ffffff;
	border-top: solid 1px #909090;
}

#slider .indicator ul li.active {
	background: #505050;
	border-top: solid 1px #505050;
}
.auto {
    line-height: 20px;
}
.f14 {
    font-size: 14px;
}
.clearfix {zoom:1}
.clearfix:after {content:"";display:block;height:0;font-size:0;clear:both}
.mgt5 {
    margin-top: 5px;
}
.fr {
    float: right;
}
.gray6 {
    color: #666;
}
.gray9 {
    color: #999;
}
.dbtn, .gbtn, .cbtn, .sbtn {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding: 0 15px;
    vertical-align: middle;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    overflow-y: hidden;
}
.ico20 {background: url(../images/icon20s.png?v=19) no-repeat;}
.ico12 {background: url(../images/icon12s.png?v=9) no-repeat;}
.ico12, .ico20, .ico32, .im24bit {
    font-size: 1px;
    line-height: 1;
    display: inline-block;
}
.btn_orange {border: 1px solid #ed8600;color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background: #f08801;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fc9309),to(#f08801));
    background-image: -webkit-linear-gradient(top,#fc9309,#f08801);
    background-image: -moz-linear-gradient(top,#fc9309,#f08801);
    background-image: -ms-linear-gradient(top,#fc9309,#f08801);
    background-image: -o-linear-gradient(top,#fc9309,#f08801);
    background-image: linear-gradient(top,#fc9309,#f08801);
}
.food-list { width:900px;margin:0 auto;     font: 12px/1.6 Tahoma,Arial,Helvetica,"宋体","Arial Narrow",Geneva,sans-serif;}
.food-list ul li {float: left; background: #fff; box-shadow: 0 1px 2px rgba(51,51,51,.1);margin-top: 18px; list-style: none;margin-left:20px; width: 224px;}
.food-list ul li .picList {float: left;padding: 15px;width: 194px;}
.food-list ul li .picList a {display: block;zoom: 1;overflow: hidden; overflow:hidden;text-overflow:ellipsis; -o-text-overflow:ellipsis;white-space:nowrap;}
.food-list ul li .picList .box {    margin-top: 5px;}
.food-list ul li .picList .dbtn {height: 16px; padding: 5px 3px 7px;line-height: 16px;}
.food-list ul li .picList .btn_orange { width: 50px;text-align: center;}
.food-list ul li .picList .dbcl_orange {
    background: #fff;
    border: 1px solid #ed8600;
    color: #f39700;
}
.picList .dbtn, .recipe_all_list .picList .dbcl {
    padding: 0 6px;
    margin-top: 2px;
    _padding-top: 4px;
    _height: 24px;
}
.food-list ul li .picList .dbcl {
    margin-left: 6px;
    _padding-top: 0;
    position: relative;
}
.food-list ul li .picList .dbcl i {
    position: absolute;
    left: -5px;
    top: 8px;
}
.food-list ul li .picList i.ico12 {
    height: 12px;
    width: 12px;
    vertical-align: middle;
}
.food-list ul li .picList .allIco3 {
    background-position: -24px -126px;
}
.food-list ul li .picList i.ico20 { height: 20px; width: 20px;vertical-align: middle; margin-left: -5px;}
.food-list ul li .picList .allIco1 {background-position: -60px -341px;}
.food-list ul li .bigimg {position: relative; zoom: 1; overflow: hidden;width: 194px;}
.food-list ul li .picList .imit_a {
    display: inline;
}
.dbcl, .gbcl, .cbcl, .sbcl {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding: 0 15px;
    vertical-align: middle;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    outline: none;
    border: 1px solid #ddd;
    color: #999;
    background: #f3f3f3;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fbfbfb),to(#f3f3f3));
    background-image: -webkit-linear-gradient(top,#fbfbfb,#f3f3f3);
    background-image: -moz-linear-gradient(top,#fbfbfb,#f3f3f3);
    background-image: -ms-linear-gradient(top,#fbfbfb,#f3f3f3);
    background-image: -o-linear-gradient(top,#fbfbfb,#f3f3f3);
    background-image: linear-gradient(top,#fbfbfb,#f3f3f3);
    margin-bottom: 1px\9;
}
.fl {
    float: left;
}
.txtBox {
    float: left;
    padding: 15px;
    width: 194px;
}
.txtBox {
    background: #f9f9f9;
    border-top: 1px solid #e9e9e9;
    padding: 10px 15px;
    position: relative;
    z-index: 1;
}
.txtBox img {
    float: left;
    margin-right: 5px;
}
.txtBox img {
    display: block;
    zoom: 1;
    overflow: hidden;
}
img {
    border: none;
    vertical-align: middle;
}
.picList a,.recipe_all_list .picList a img,.recipe_all_list .txtBox img {display:block; zoom:1; overflow:hidden}
.picList em {
    font-style: normal;
}

p, pre, td {
    word-wrap: break-word;
    word-break: break-all;
}


#item-data span { display: inline-block; padding: 5px 33px 5px 10px; font-size: 16px; background-color: #8BC83F; color: #FFF; margin-right: 10px; margin-top:10px;position:relative;}
#item-data span i { position: absolute; right: 0;top:0; padding:5px 10px; display: inline-block; font-style:normal;}
#item-data span i:hover { background-color:red; }


#search-ipt { display: none; }